<!DOCTYPE html>
<!-- Updated: March 18, 2014
  --
  -- scguo February 21, 2014 myWIP.html
  --
  -->

<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/stylesheet.css"/>
        <title> Steve's WIP </title>
    </head>
    <body>
        <div id="header">
            <div id="logo">
                <img src="{{ STATIC_URL }}img/kisslandcat.jpg" alt="Kiss Land Cat" height="100" width="100"/>
                <h1><a href="./myWIP.html">WIProgress</a></h1>
                <span>Design by <a href="http://www.google.com" rel="nofollow">copyleft</a></span>
            </div>
            <div id="menu">
                <ul>
                    <li class="current_page_item"><a href="" accesskey="1" title="">Homepage</a></li>
                    <li><a href="" accesskey="2" title="">About Me</a></li>
                    <li><a href="" accesskey="3" title="">Tests</a></li>
                    <li><a href="" accesskey="4" title="">Landings</a></li>
                </ul>
            </div>
        </div>
        <div id="main">
            <img id="banner" src="{{ STATIC_URL }}img/kisslandcat_large.png" alt= "Kiss Land Cat again"/>

            <div class="title">
                <h2>Section Titled</h2>
                <span class="byline"> Steve Guo -> proof of concept and testing field</span>
            </div>
            <div id="featured">
                <div class="title">
                    <h2>WIP Timeline</h2>
                    <span class="byline">Thou shalt scribe erryting thou doth</span>
                </div>
                <ul class="style1">
                    <li class="first">
                        <p class="date"><a href="#">Feb<b>21</b></a></p>
                        <h3>HTML + CSS = :]</h3>
                        <p><a href="#"> "I'm so meta even this acronym" </a></p>
                    </li>
                    <li>
                        <p class="date"><a href="#">Feb<b>22</b></a></p>
                        <h3>Javascript less JSON/JQuery</h3>
                        <p> delicious<sup>[<span style="color:#0645ad; font-style:italic;
                        font-weight: bold; font-family: sans-serif;">citation needed</span>]
                        </sup></p>
                    </li>
                    <li>
                        <p class="date"><a href="#">Feb<b>27</b></a></p>
                        <h3>Separation of scripts from html file.</h3>
                        <p>Such difficulty</p>
                    </li>
                    <li>
                        <p class="date"><a href="#">Mar<b>04</b></a></p>
                        <h3>Started using Jquery cause yay</h3>
                        <p>Much ease</p>
                    </li>
                    <li>
                        <p class="date"><a href="#">Mar<b>11</b></a></p>
                        <h3>Merged draw and logic loops, added JSON results recording.</h3>
                        <p>yey</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="copyright">
            <span>Copyleft 2014 localhost All rights mia. | Photos found on <a href="http://www.google.com/" rel="nofollow">Google</a></span>
            <span>SCGUO | Design heavily based on <a href="http://www.freecsstemplates.org/preview/privy/" rel="nofollow">Privy</a>.</span>
        </div>
    </body>
</html>